<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:context="http://www.springframework.org/schema/context"
  xmlns:p="http://www.springframework.org/schema/p" xmlns:security="http://www.springframework.org/schema/security"
  xsi:schemaLocation="http://www.springframework.org/schema/beans   
                        http://www.springframework.org/schema/beans/spring-beans-4.0.xsd  
                        http://www.springframework.org/schema/mvc  
                        http://www.springframework.org/schema/mvc/spring-mvc-4.1.xsd  
                        http://www.springframework.org/schema/context   
                        http://www.springframework.org/schema/context/spring-context-4.0.xsd
                        http://www.springframework.org/schema/security  
                        http://www.springframework.org/schema/security/spring-security-4.0.xsd">
  <!-- 解决responseBody输出乱码问题，必须写在controller的调用之前 -->
  <bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter">
    <property name="messageConverters">
      <list>
        <bean class="org.springframework.http.converter.StringHttpMessageConverter">
          <property name="supportedMediaTypes">
            <list>
              <value>text/html;charset=UTF-8</value>
            </list>
          </property>
        </bean>
      </list>
    </property>
  </bean>
  <context:component-scan base-package="org.lxp.dailylog.web.controller" />
  <bean class="org.lxp.dailylog.web.swagger.SwaggerConfig">
    <property name="basePath" value="${dailylog.basePath}" />
  </bean>

  <mvc:annotation-driven />

  <mvc:resources mapping="/js/**" location="/static/js/" />
  <mvc:resources mapping="/css/**" location="/static/css/" />
  <mvc:resources mapping="/img/**" location="/static/img/" />
  <mvc:resources mapping="/swagger/**" location="/swagger/" />
  <mvc:resources mapping="/bootstrap/**" location="/bootstrap/" />
  <bean id="swaggerFilter" class="org.lxp.dailylog.web.swagger.SwaggerFilter">
    <constructor-arg value="${dailylog.swagger.enabled}" />
  </bean>
  <bean id="encodingFilter" class="org.springframework.web.filter.CharacterEncodingFilter">
    <property name="encoding" value="UTF-8" />
    <property name="forceEncoding" value="true" />
  </bean>
  <bean id="filterChainProxy" class="org.springframework.security.web.FilterChainProxy">
    <security:filter-chain-map request-matcher="ant">
      <security:filter-chain filters="swaggerFilter,encodingFilter" pattern="/api-docs" />
      <security:filter-chain filters="swaggerFilter,encodingFilter" pattern="/api-docs/**" />
      <security:filter-chain filters="swaggerFilter,encodingFilter" pattern="/swagger/**" />
      <security:filter-chain filters="encodingFilter" pattern="/**" />
    </security:filter-chain-map>
  </bean>
  <mvc:interceptors>
    <bean id="loginInterceptor" class="org.lxp.dailylog.web.interceptor.LoginInterceptor">
      <property name="excludes">
        <set>
          <value>/login</value>
          <value>/login.json</value>
          <value>/logout</value>
          <value>/version</value>
        </set>
      </property>
      <property name="excludePaths">
        <set>
          <value>/404</value>
          <value>/js/</value>
          <value>/css/</value>
          <value>/img/</value>
          <value>/swagger/</value>
          <value>/bootstrap/</value>
          <value>/api-docs</value>
        </set>
      </property>
      <property name="ajaxPath" value=".json" />
    </bean>
  </mvc:interceptors>
</beans>    