<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <typeAliases>
    <typeAlias type="org.lxp.dailylog.service.mapper.AccountMapper" alias="Account" />
    <typeAlias type="org.lxp.dailylog.service.mapper.NavigatorMapper" alias="Navigator" />
    <typeAlias type="org.lxp.dailylog.service.mapper.UserMapper" alias="User" />
  </typeAliases>
  <mappers>
<!--     <mapper resource="org/lxp/dailylog/service/mapper/AccountMapper.xml" /> -->
    <mapper resource="org/lxp/dailylog/service/mapper/NavigatorMapper.xml" />
    <mapper resource="org/lxp/dailylog/service/mapper/UserMapper.xml" />
  </mappers>
</configuration>