<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <typeAliases>
    <typeAlias type="org.lxp.dailylog.model.AccountBase" alias="Account" />
    <typeAlias type="org.lxp.dailylog.model.NavigatorBase" alias="Navigator" />
    <typeAlias type="org.lxp.dailylog.model.UserBase" alias="User" />
  </typeAliases>
  <mappers>
    <package name="org.lxp.dailylog.service.mapper" />
  </mappers>
</configuration>