<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.lxp.dailylog.dao.mapper.AccountBaseMapper" >
  <resultMap id="BaseResultMap" type="org.lxp.dailylog.model.AccountBase" >
    <id column="account_id" property="id" jdbcType="BIGINT" />
    <result column="account_username" property="username" jdbcType="VARCHAR" />
    <result column="account_email" property="email" jdbcType="VARCHAR" />
    <result column="account_forget_password_email" property="forgetPasswordEmail" jdbcType="VARCHAR" />
    <result column="account_phone" property="phone" jdbcType="VARCHAR" />
    <result column="account_product_name" property="productName" jdbcType="VARCHAR" />
    <result column="account_product_url" property="productUrl" jdbcType="VARCHAR" />
    <result column="account_join_date" property="joinDate" jdbcType="TIMESTAMP" />
    <result column="account_is_active" property="isActive" jdbcType="TINYINT" />
    <result column="account_create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    account.id as account_id, account.username as account_username, account.email as account_email, 
    account.forget_password_email as account_forget_password_email, account.phone as account_phone, 
    account.product_name as account_product_name, account.product_url as account_product_url, 
    account.join_date as account_join_date, account.is_active as account_is_active, account.create_time as account_create_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="org.lxp.dailylog.model.AccountBaseExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from account account
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limit != null" >
      <if test="offset != null" >
        limit ${offset}, ${limit}
      </if>
      <if test="offset == null" >
        limit ${limit}
      </if>
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from account account
    where account.id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from account
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="org.lxp.dailylog.model.AccountBaseExample" >
    delete from account account
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="org.lxp.dailylog.model.AccountBase" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into account (username, email, forget_password_email, 
      phone, product_name, product_url, 
      join_date, is_active, create_time
      )
    values (#{username,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{forgetPasswordEmail,jdbcType=VARCHAR}, 
      #{phone,jdbcType=VARCHAR}, #{productName,jdbcType=VARCHAR}, #{productUrl,jdbcType=VARCHAR}, 
      #{joinDate,jdbcType=TIMESTAMP}, #{isActive,jdbcType=TINYINT}, #{createTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="org.lxp.dailylog.model.AccountBase" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into account
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="username != null" >
        username,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="forgetPasswordEmail != null" >
        forget_password_email,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="productName != null" >
        product_name,
      </if>
      <if test="productUrl != null" >
        product_url,
      </if>
      <if test="joinDate != null" >
        join_date,
      </if>
      <if test="isActive != null" >
        is_active,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="forgetPasswordEmail != null" >
        #{forgetPasswordEmail,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="productName != null" >
        #{productName,jdbcType=VARCHAR},
      </if>
      <if test="productUrl != null" >
        #{productUrl,jdbcType=VARCHAR},
      </if>
      <if test="joinDate != null" >
        #{joinDate,jdbcType=TIMESTAMP},
      </if>
      <if test="isActive != null" >
        #{isActive,jdbcType=TINYINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="org.lxp.dailylog.model.AccountBaseExample" resultType="java.lang.Integer" >
    select count(*) from account account
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update account account
    <set >
      <if test="record.id != null" >
        account.id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.username != null" >
        account.username = #{record.username,jdbcType=VARCHAR},
      </if>
      <if test="record.email != null" >
        account.email = #{record.email,jdbcType=VARCHAR},
      </if>
      <if test="record.forgetPasswordEmail != null" >
        account.forget_password_email = #{record.forgetPasswordEmail,jdbcType=VARCHAR},
      </if>
      <if test="record.phone != null" >
        account.phone = #{record.phone,jdbcType=VARCHAR},
      </if>
      <if test="record.productName != null" >
        account.product_name = #{record.productName,jdbcType=VARCHAR},
      </if>
      <if test="record.productUrl != null" >
        account.product_url = #{record.productUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.joinDate != null" >
        account.join_date = #{record.joinDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.isActive != null" >
        account.is_active = #{record.isActive,jdbcType=TINYINT},
      </if>
      <if test="record.createTime != null" >
        account.create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update account account
    set account.id = #{record.id,jdbcType=BIGINT},
      account.username = #{record.username,jdbcType=VARCHAR},
      account.email = #{record.email,jdbcType=VARCHAR},
      account.forget_password_email = #{record.forgetPasswordEmail,jdbcType=VARCHAR},
      account.phone = #{record.phone,jdbcType=VARCHAR},
      account.product_name = #{record.productName,jdbcType=VARCHAR},
      account.product_url = #{record.productUrl,jdbcType=VARCHAR},
      account.join_date = #{record.joinDate,jdbcType=TIMESTAMP},
      account.is_active = #{record.isActive,jdbcType=TINYINT},
      account.create_time = #{record.createTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="org.lxp.dailylog.model.AccountBase" >
    update account
    <set >
      <if test="username != null" >
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="forgetPasswordEmail != null" >
        forget_password_email = #{forgetPasswordEmail,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="productName != null" >
        product_name = #{productName,jdbcType=VARCHAR},
      </if>
      <if test="productUrl != null" >
        product_url = #{productUrl,jdbcType=VARCHAR},
      </if>
      <if test="joinDate != null" >
        join_date = #{joinDate,jdbcType=TIMESTAMP},
      </if>
      <if test="isActive != null" >
        is_active = #{isActive,jdbcType=TINYINT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.lxp.dailylog.model.AccountBase" >
    update account
    set username = #{username,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      forget_password_email = #{forgetPasswordEmail,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      product_name = #{productName,jdbcType=VARCHAR},
      product_url = #{productUrl,jdbcType=VARCHAR},
      join_date = #{joinDate,jdbcType=TIMESTAMP},
      is_active = #{isActive,jdbcType=TINYINT},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>