<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.lxp.dailylog.service.mapper.UserMapper">
  <insert id="add" parameterType="User" useGeneratedKeys="true" keyProperty="id" statementType="PREPARED">
    INSERT INTO
    user(username, password, createtime) VALUES(#{username}, #{password}, #{createtime})
  </insert>
  <select id="queryOne" parameterType="java.util.HashMap" resultMap="UserMap" statementType="PREPARED">
    SELECT seqid AS id, username AS username, password AS password, lastlogintime AS lastlogintime, createtime AS
    createtime FROM user
    <where>
      <if test="username!=null">
        username=#{username}
      </if>
    </where>
    LIMIT 0,1
  </select>
  <resultMap type="User" id="UserMap">
    <id property="id" column="seqid" />
    <result property="username" column="username" />
    <result property="password" column="password" />
    <result property="lastlogintime" column="lastlogintime" />
    <result property="createtime" column="createtime" />
  </resultMap>
</mapper>