<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <include resource="org/springframework/boot/logging/logback/defaults.xml" />
  <include resource="org/springframework/boot/logging/logback/console-appender.xml" />
  <property name="COMMON_PATTERN"
    value="%d{ISO8601,UTC} %-5p class=%logger{36} thread=%thread %X{sessionId:-}event_description=&quot;%m&quot;%n" />

  <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <File>logs/dailylog.log</File>
    <Prudent>true</Prudent>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <FileNamePattern>logs/dailylog-%d{yyyy-MM-dd}-%i.log</FileNamePattern>
      <MaxHistory>30</MaxHistory>
      <TimeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
        <MaxFileSize>100MB</MaxFileSize>
      </TimeBasedFileNamingAndTriggeringPolicy>
    </rollingPolicy>
    <layout class="ch.qos.logback.classic.PatternLayout">
      <Pattern>${COMMON_PATTERN}</Pattern>
    </layout>
  </appender>

  <logger name="org.springframework" level="debug" additivity="false">
    <appender-ref ref="FILE" />
  </logger>
  <logger name="com.zaxxer.hikari" level="info" additivity="false">
    <appender-ref ref="FILE" />
  </logger>

  <logger name="com.lxp.dailylog" level="info" additivity="false">
    <appender-ref ref="FILE" />
  </logger>

  <root level="info">
    <appender-ref ref="FILE" />
  </root>
</configuration>